#user-main-div {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2%;
    padding-bottom: 3%;
    width: 50%;
    border-bottom: 1px solid whitesmoke;
}

.user-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-div>img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.user-data>a {
    text-decoration: none;
    color: whitesmoke;
    opacity: 1;
}

.user-data>a:hover {
    color: grey;
    transition: all .3s ease;
}