body {
    font-family: 'Playfair Display', serif;
    background-color: #161616;
    color: whitesmoke;
    margin: 0;
    background-image: url('./icons/background2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-size: 100%; */
    background-size: cover;
}

#main-home-banner {
    z-index: -1;
    top: 68.5%;
    left: 41%;
    position: fixed;
    opacity: .2;
    font-size: 250%;
}


/* Mobile Responsive */

/* Tablet Section */
@media screen and (min-width: 768px)
and (max-width: 1024px) {
    #main-home-banner {
        z-index: -1;
        top: 68.5%;
        left: 35%;
        position: fixed;
        opacity: .2;
        font-size: 250%;
    }
}

/* Phone Section */

@media screen and (max-width:767px) {
    #main-home-banner {
        z-index: -1;
        top: 80%;
        left: 25%;
        position: fixed;
        opacity: .2;
        font-size: 200%;
    }
}
