body {
    font-family: 'Playfair Display', serif;
    background-color: #161616;
    color: whitesmoke;
    margin: 0;
    background-image: url('./icons/background2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}