
h1 {
    margin: auto;
    text-align: center;
    vertical-align: center;
    color: whitesmoke;
}

#header-link {
    text-decoration: none;
    position: fixed;
    left: 20px;
    top: 21px;
}

.nav-main-div {
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 80px;
    background-color: rgb(22, 22, 22);
    width: 100%;
    -webkit-box-shadow: 0px 0px 21px 0px rgba(255,5,5,0.59);
    -moz-box-shadow: 0px 0px 21px 0px rgba(255,5,5,0.59);
    box-shadow: 0px 0px 21px 0px rgba(255,5,5,0.59);
}

#cover {
    position:fixed;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    display:none;
    background-color:#000;
    opacity:0.5;
}

.links-div {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 15%;
}

.links-div>a:active {
    transform: scale(.8);
}

.links-div>a:hover {
    color: grey;
}

#search-form {
    display: flex;
    flex-direction: row;
    margin-left: 30%;
}

#search-input {
    height: 30px;
    width: 500px;
    margin-top: 25px;
}

#search {
    border: none;
    outline: none;
    margin-top: 6%;
    margin-left: 3%;
}

#search:hover {
    opacity: .3;
}

#logout, #login {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    text-decoration: none;
    background: transparent;
    color: white;
    margin-bottom: 8%;
}

#logout:hover, #login:hover {
    color: grey;
    transition: all .15s ease;
}

/* Icons on the right */

a {
    opacity: 1;
}

a:hover {
    opacity: 0.3;
    transition: all .15s ease;
}

#cars {
    background-image: url('./icons/cars.png');
    display: inline-block;
    height: 48px;
    width: 48px;
    background-repeat:  no-repeat;
}


#drivers {
    background-image: url('./icons/users.png');
    height: 48px;
    width: 48px;
    display: inline-block;
    background-repeat:  no-repeat;
}

#cart {
    background-color: rgb(22, 22, 22);
    background-image: url('./icons/cart.png');
    height: 48px;
    width: 48px;
    display: inline-block;
    background-repeat:  no-repeat;
}

#cart-count {
    position: absolute;
    margin-left: -2.58%;
    top: 20%;
    font-size: 15px;
    font-family: sans-serif;
}

#cart-div:hover {
    color: rgb(104, 103, 103);
    transition: all .15s ease;
}

#search {
    background-color: rgb(22, 22, 22);
    background-image: url('./icons/search.png');
    height: 24px;
    width: 24px;
    display: inline-block;
    background-repeat:  no-repeat;
}

