
h1 {
    margin: auto;
    text-align: center;
    vertical-align: center;
    color: whitesmoke;
}

#header-link {
    text-decoration: none;
    position: fixed;
    left: 20px;
    top: 21px;
}

.nav-main-div {
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 80px;
    background-color: rgb(22, 22, 22);
    width: 100%;
    box-shadow: 0px 0px 20px -7px rgba(250,250,250,1);
}

#cover {
    z-index: 3;
    position:fixed;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    display:none;
    background-color:#000;
    opacity:0.5;
}

.nav-main-div>img {
    position: fixed;
    top: 3%;
    right: 5%;
    height: 35px;
    width: 35px;
}

#links-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #161616; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10%;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.nav-link {
    padding-bottom: 30%;
}

#close-button {
    position: absolute;
    right: 37%;
    top: 2.5%;
    background-color: transparent;
    text-decoration: none;
    border: none;
    color: white;
    font-size: 2rem;
}

#close-button:hover {
    color: grey;
    transition: all .2s ease;
}

#links-div>a:active {
    transform: scale(.8);
}

#links-div>a:hover {
    color: grey;
}

#search-form {
    display: flex;
    flex-direction: row;
    margin-left: 30%;
}

#search-input {
    height: 30px;
    width: 500px;
    margin-top: 25px;
    background-color: rgb(223, 223, 223);
    border: none;
}

#search {
    border: none;
    outline: none;
    margin-top: 6%;
    margin-left: 3%;
}

#search:hover {
    opacity: .3;
}

#logout, #login {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    text-decoration: none;
    background: transparent;
    color: white;
    margin-bottom: 8%;
    font-size: 1.2rem;
    font-family: 'Playfair Display', serif;
}

#logout:hover, #login:hover {
    color: grey;
    transition: all .15s ease;
}

/* Icons on the right */

a {
    opacity: 1;
}

a:hover {
    opacity: 0.3;
    transition: all .15s ease;
}

#cars {
    margin: 0;
    text-decoration: none;
    font-size: 1.4rem;
}

#cars:visited {
    color: whitesmoke;
}

#cart {
    background-color: rgb(22, 22, 22);
    background-image: url('./icons/cart.png');
    height: 48px;
    width: 48px;
    display: inline-block;
    background-repeat:  no-repeat;
    margin-left: 16%;
    margin-top: 5%;
    text-decoration: none;
}

#cart:visited {
    color: whitesmoke;
}

#cart-count {
    position: relative;
    margin-left: 25%;
    bottom: 22%;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bolder;
}

#cart-div:hover {
    color: rgb(104, 103, 103);
    transition: all .15s ease;
}

#search {
    background-color: rgb(22, 22, 22);
    background-image: url('./icons/search.png');
    height: 24px;
    width: 24px;
    display: inline-block;
    background-repeat:  no-repeat;
}

/* Mobile Responsive */

/* Tablet Section */
@media screen and (min-width: 768px)
and (max-width: 1048px) {
    .nav-main-div>img {
        display: block;
        position: fixed;
        width: 30px;
        height: 30px;
        right: 5%;
        top: 2.5%;
    }
    #burger-menu-checkbox {
        display: block;
        opacity: 0;
        z-index: 2;
        position: fixed;
        width: 40px;
        height: 35px;
        right: 4%;
        top: 2%;
    }
    #search-input {
        width: 320px;
    }
    #search {
        margin-top: 9%;
        margin-left: 3%;
    }
    #links-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-between;
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        right: 0;
        background-color: #161616; 
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 20%;
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
}

/* Phone Section */
@media screen and (max-width:767px) {
    #leetrides-header {
        font-size: 15px;
    }
    #header-link {
        text-decoration: none;
        position: fixed;
        left: 8px;
        top: 32px;
    }
    #search-form {
        display: flex;
        flex-direction: row;
        margin-left: 25%;
    }
    #search-input {
        width: 160px;
        margin-top: 12%;
    }
    #search {
        margin-top: 16%;
        margin-left: 5%;
        background-image: url('./icons/search-small.png');
    }
    .nav-main-div>img {
        display: block;
        position: fixed;
        width: 25px;
        height: 25px;
        right: 5%;
        top: 4%;
    }
    #links-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-between;
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        right: 0;
        background-color: #161616; 
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 10%;
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
    .nav-link {
        padding-top: 20%;
        padding-bottom: 10%;
    }
    #cart-count {
        position: relative;
        margin-left: 24%;
        bottom: 40%;
        font-size: 13px;
        font-family: sans-serif;
        font-weight: bolder;
    }
    #close-button {
        position: absolute;
        right: 5%;
        top: 2.5%;
        background-color: transparent;
        text-decoration: none;
        border: none;
        color: white;
        font-size: 2rem;
    }
}    
/* small phone */
@media screen and (max-width:374px) {
    #burger-menu-checkbox ~ img{
        top: 5%;
        width: 20px;
        height: 20px;
    }
    #search {
        margin-top: 16%;
        margin-left: 5%;
        background-image: url('./icons/search-small.png');
    }
}