.single-car-div {
    display: flex;
    flex-direction: row;
    padding-top: 15%;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
}

#car-image {
    height: 400px;
    width: 500px;
}

#single-car-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    padding-bottom: 10%;
}

#single-car-description>p {
    width: 70%;
    padding-bottom: 3%;
} 