.single-car-div {
    display: flex;
    flex-direction: row;
    padding-top: 15%;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
}

#car-image {
    height: 400px;
    width: 500px;
}

#single-car-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    padding-bottom: 10%;
}

#single-car-description>p {
    width: 70%;
    padding-bottom: 3%;
} 

#single-car-description>button {
    text-decoration: none;
    color: whitesmoke;
    background-color: #161616;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    vertical-align: auto;
    height: 5%;
    border: none;
    border-radius: 3px;
    opacity: 1;
}

#single-car-description>button:hover {
    transition: all .2s ease;
    -webkit-box-shadow: 0px 0px 21px 0px rgba(255,5,5,0.59);
    -moz-box-shadow: 0px 0px 21px 0px rgba(255,5,5,0.59);
    box-shadow: 0px 0px 21px 0px rgba(255,5,5,0.59);
}

/* Add To Cart Animation */

button:focus {
    outline: 0;
}

#add-to-cart-button span#added {
    display: none;
    opacity: 0;
}

#add-to-cart-button.clicked #add{
    display: none;
    opacity: 0;
}

#add-to-cart-button.clicked span#added {
    display: inherit;
    animation: added .25s ease-in forwards;
}


@keyframes added {
    0%,
    80% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

/* Mobile Responsive */

/* Tablet Section */
@media screen and (min-width: 768px)
and (max-width: 1023px) {
    .single-car-div {
        padding-top: 20%;
        flex-direction: column;
    }
}

/* Phone Section */